<!DOCTYPE html>
<html>
<head>
    <title>SQLite CRUD</title>
</head>
<body>
    <h1>All Items</h1>
    <ul>
    {% for item in items %}
        <li>
            {{ item[1] }} <!-- The 'name' is at index 1 of the tuple -->
            <a href="{{ url_for('update_item', item_id=item[0]) }}">Update</a>
            <a href="{{ url_for('delete_item', item_id=item[0]) }}">Delete</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('create_item') }}">Create New Item</a>
</body>
</html>
